<button (click)="toggleDrawer()"
    class="fixed top-1/2 -translate-y-1/2 z-50 bg-[#C63C92] text-white px-3 py-6 rounded-l-xl shadow-lg flex flex-col items-center gap-4 transition-all duration-500 ease-in-out"
    [class.right-0]="!isOpen()" [class.right-[450px]]="isOpen()">

    <span class="[writing-mode:vertical-lr] rotate-180 font-semibold text-[15px]">
        Feedback
    </span>

    <div class="transition-transform duration-300">
        @if (isOpen()) {
        <svg class="w-4 h-4 rotate-180" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
        </svg>
        } @else {
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
        </svg>
        }
    </div>
</button>
@if (isOpen()) {
<div (click)="toggleDrawer()" class="fixed inset-0 bg-black/20 backdrop-blur-sm z-40" animate.enter="fade-enter"
    animate.leave="fade-leave">
</div>

<div class="fixed top-0 right-0 h-full w-full max-w-[450px] bg-white z-50 shadow-2xl border-l border-gray-100"
    animate.enter="slide-enter" animate.leave="slide-leave">

    <div class="h-full flex flex-col font-sans">
        <div class="p-6 border-b border-gray-100">
            <h2 class="text-[18px] font-bold text-[#101828]">Help us improve bdjobs recruiter website</h2>
        </div>
        <div class="p-8 flex-grow overflow-y-auto space-y-6">
            <p class="text-gray-500">Your feedback form goes here.</p>
        </div>
        <div class="p-8 border-t border-gray-50">
            <button
                class="w-full bg-[#00965e] text-white py-4 rounded-lg font-bold hover:bg-[#007a4d] transition-colors">
                Submit feedback
            </button>
        </div>
    </div>
</div>
}
<!-- @if (isOpen()) {
<div (click)="toggleDrawer()" class="fixed inset-0 bg-black/20 backdrop-blur-sm z-40 transition-opacity"></div>
}
@defer (when isOpen()) {
<div class="fixed top-0 right-0 h-full w-full max-w-[450px] bg-white z-40 shadow-2xl transition-transform duration-500 ease-in-out border-l border-gray-100"
    [class.translate-x-0]="isOpen()" [class.translate-x-full]="!isOpen()">

    <div class="h-full flex flex-col font-sans">
        <div class="p-6 border-b border-gray-100">
            <h2 class="text-[18px] font-bold text-[#101828]">Help us improve bdjobs recruiter website</h2>
        </div>
        <div class="p-8 flex-grow overflow-y-auto space-y-6">
            <p class="text-gray-500">Your feedback form goes here.</p>
        </div>
        <div class="p-8 border-t border-gray-50">
            <button
                class="w-full bg-[#00965e] text-white py-4 rounded-lg font-bold hover:bg-[#007a4d] transition-colors">
                Submit feedback
            </button>
        </div>
    </div>
</div>
} -->